<%= form_with model: book, url: book.persisted? ? admin_book_path(book) : admin_books_path, method: book.persisted? ? :patch : :post, local: true do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title, required: true %>
    </div>
  
    <div>
      <%= form.label :author %>
      <%= form.text_field :author, required: true %>
    </div>
  
    <div>
      <%= form.label :isbn %>
      <%= form.text_field :isbn, required: true %>
    </div>
  
    <%= form.submit book.persisted? ? "Update Book" : "Create Book", class: "btn btn-success" %>
  <% end %>
  